{% extends "baseTemplatePractica.html" %}
{% block title %}Lista practicas{% endblock %}
<h1>Cursos que se ofertan actualmente. Clicke para modificarlos</h1>

{% block mainText %}
{% if practicas_list %}
	Las practicas activas son:
{% else %}
	No tiene practicas activas
{% endif %}

<ul>
{% for practica in practicas_list %}
	<li><a href="{% url 'practicas:detalle_practica' practica.pk %}">{{practica.nombre}}</a>({{practica.empresa}}): {{practica.descripcion}}</li>
{% endfor %}
</ul>	



{% endblock %}